tr img{
    width: 40px;
    padding: 10px;
    
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}
#zf{
    background-color: red;
    color: white;
}
button{
    float: right;
}
tr{
    display: flex;
    font-weight: bold;
}
/*tr div {
    font-weight: normal;
}*/

.table tr:nth-child(odd) {
    background-color: lightgray;
  }
.small {
    width: 5rem;
}

.large {
    text-align: left;
    padding-top: 20px;
    width: 12rem;
}
.large-sec {
    text-align: left;
    padding-top: 10px;
    width: 12rem;
}


td{
    text-align: center;
}
